section.About {
  // background-color: rgba(213, 61, 52, 1);
}

.imagePhone {
  @media only screen and (min-width: 768px) {
    display: none;
  } 
  text-align: center;
  .imageSize {
    width: 100%;
  }
}
.image {
  @media only screen and (min-width: 769px) and (max-width: 1025px) {
    .imageSizePC {
      width: 110%;
      margin-top: 3rem;
    }
  }
  @media only screen and (min-width: 767px) and (max-width: 769px) {
    .imageSizePC {
      width: 90%;
    }
  }
  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.inner {
  width: 100%;

  @media only screen and (max-width: 768px) {
    padding: 0 !important;
  }
}
.row {
  width: 100%;
  padding: 2rem 2rem !important;
}
.textMore {
  @media only screen and (max-width: 768px) {
    font-size: 0.8rem !important;
  }
  @media only screen and (max-width: 1025px) and (min-width: 769px) {
    font-size: 1rem !important;
  }
}
.heading {
  margin-bottom: 5rem ;
  @media only screen and (max-width: 768px) {
    font-size: 3rem !important;
    margin-top: 30px !important;
    margin-bottom: 0 ;
  }
}

