// .appOuter{
//     max-width: 100vw !important;
//     overflow: hidden;
// }



.appOuter{
    // overflow: hidden;
    margin:0 !important;
    width: 90vw !important;
    position: fixed !important;
    overflow-x: hidden !important;
}