.Artists1 {
  //   height: 100vh;
  // background-color: red;
  padding: 0 3rem;
  .heading {
    font-weight: 800;
    font-style: italic;
    font-size: 4rem;
    text-transform: uppercase;
    outline: none;
    text-decoration: none;
    position: relative;
    // font-size: 8em;
    line-height: 1;
    // color:
    //#9e9ba4;
    cursor: pointer;
    display: inline-block;
  }
  .Artists1_Grid {
    padding: 3rem 3rem;
    scroll-margin-top: 60px;

    @media only screen and (max-width: 1024px) {
      padding: 0 !important;
    }
    .Artists1_text {
      .aboutArtist {
        margin-left: 4rem;
        @media only screen and (max-width: 1024px) {
          margin-left: 0.5rem;
        }
        .text {
          // margin-top:3rem;
          font-weight: 700;
          font-style: italic;
          font-size: 4rem;
          text-transform: uppercase;
          @media only screen and (max-width: 1024px) {
            font-size: 2rem;
          }
        }
        .textAboutDiv {
          margin-left: 2rem;
          @media only screen and (max-width: 1024px) {
            margin-left: 0rem;
          }

          .textAbout {
            font-weight: 500;
            font-size: 1.8rem;
            @media only screen and (max-width: 1024px) {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
    .imageArtistDiv {
      margin-top: 30px;
      .imageArtist {
        width: 100%;
      }
    }
  }
}
.onPhone {
  @media only screen and (min-width: 1024px) {
    visibility: hidden;
    display: none;
  }
}
.onPc {
  @media only screen and (max-width: 1023px) {
    visibility: hidden;
    display: none;
  }
}

.heading {
  font-weight: 700;
  font-style: italic;
  font-size: 4rem;
  text-transform: uppercase;
  outline: none;
  text-decoration: none;
  position: relative;
  // font-size: 8em;
  line-height: 1;
  // color:
  //#9e9ba4;
  cursor: pointer;
  display: inline-block;
}
.link--kukuri {
  text-transform: uppercase;
  font-weight: 900;
  overflow: hidden;
  line-height: 0.75;
  color: black;
}

.link--kukuri:hover {
  color: black;
  // transform: rotate3d(20);
  // transform: translate3d(-100%, 0, 0);
  // transition: transform 0.4s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.link--kukuri::after {
  content: '';
  position: absolute;
  height: 16px;
  width: 100%;
  top: 50%;
  margin-top: -8px;
  right: 0;
  background: #f9f9f9;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.4s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.link--kukuri:hover::after {
  transform: translate3d(100%, 0, 0);
}

.link--kukuri::before {
  content: attr(data-letters);
  position: absolute;
  z-index: 2;
  overflow: hidden;
  color: #424242;
  white-space: nowrap;
  width: 0%;
  transition: width 0.4s 0.3s;
}

.link--kukuri:hover::before {
  width: 100%;
}
