.register{
    // margin-top: 50px;
text-align: center;
// height:100vh;
padding:0 !important;}


.modalOut{
    height:100vh;
}
.modal-content{
height:100vh;
    // margin:0 !important;

    background: none;
}