section.Upper {
  overflow: hidden !important;
  width: 100% !important;

  padding: 2rem 0;
  @media only screen and (max-width: 768px) {
    padding: 1rem 0;
  }
  height: 100vh;
  .dabba {
    position: absolute;
    width: 100%;
    margin: 0;
    // padding: 0 5rem;
    bottom: 8rem;
    @media only screen and (max-width: 768px) {
      padding: 0;
      bottom: 0;
    }
    .scroll {
      float: right;
      .inner {
        .text {
          margin: 0 auto;
          margin-top: 55px;
          font-weight: 600;
          text-align: right;
          font-size: 1.5rem;
          line-height: 1;
        }
        @media only screen and (max-width: 768px) {
          font-size: 1rem;
          // margin-top: -60px;
        }
      }
    }
    .register1 {
      text-align: center;
      // margin-top: 100px;
    }
    .buttonreg {
      height:60px;
    }
    .dates {
      transform: translateY(-20%);
      margin-right: 0;

      .light {
        // float:right;
        text-align: right;
        // width:fit-content;
        @media only screen and (max-width: 768px) {
          font-size: 0.8rem;
        }
      }
      .heavy {
        line-height: 1;
        // float:right;
        // width:fit-content;
        text-align: right;
        font-weight: 900;
        font-size: 3rem;
        @media only screen and (max-width: 768px) {
          font-size: 2rem;
          // margin-top: -60px;
        }
      }
    }
  }
}

.dabbaUpper {
  position: absolute;
  top: 50%;
  transform: translateY(-70%);
  overflow: hidden;
  .imageUpper {
    width: 100%;
  }
}
.dabbaUpper1 {
  position: absolute;
  top: 40%;
  // transform: translateY(-125%);
  left: 50%;
  // transform: translateX(-50%);
  transform: translate(-50%, -150%);
  width: 100vw;
  overflow: hidden;
  text-align: center;
  .imageUpper1 {
    width: 88%;
  }
}
.registerPhone {
  border-radius: 30px;
  width: fit-content;
}
.text1 {
  color: black;
  font-weight: 600;
}
